@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --color-blzs-teal: #005A67; 
}

::view-transition-group(root){
  z-index: auto !important;
}

::view-transition-image-pair(root){
  isolation: isolate;
  will-change: transform, opacity,scale;
  z-index: 1;
}

::view-transition-new(root){
z-index: 2;
animation: none !important;
}

::view-transition-old(root){
  z-index: 1;
  animation: none !important;
}